<div ng-controller='extract'>
  <div class='top-bar text-center'>
    <i class='glyphicon glyphicon-refresh' ng-click='elastic.getIndices()' ng-class='{"fa-spin":elastic.$refreshingIndices}' title='Refresh Data'></i>
    Indices
    <select class='form-control mid-width' ng-model='elastic.index' ng-options='i as i for i in elastic.indices | orderBy' ng-change='elastic.getTypes()'></select>
    Types
    <select class='form-control mid-width' ng-model='elastic.type' ng-options='k as k for k in elastic.types' ng-change='elastic.preview()'></select>
    <span ng-if='!elastic.random && elastic.limit'>
      From: <input class='form-control small-width' type='number' ng-model='elastic.from'>
    </span>
    <span>
      Limit: <input class='form-control small-width' type='number' ng-model='elastic.limit'>
    </span>
    <span ng-show='elastic.limit > 0'>
      <input type='checkbox' ng-model='elastic.random'> Random
    </span>
  </div>
  
  <div ng-show='elastic.index' class='top-bar text-center'>
    <strong ng-bind='"Total Records: "+elastic.count'></strong>
    <button ng-click='elastic.extract()' ng-show='elastic.type' class='btn btn-xs btn-success' ng-disabled='!elastic.count'>Extract</button>
    <button ng-click='elastic.delete()' class='btn btn-xs btn-danger'>Delete</button>
  </div>

  <div>
    <table class='table table-striped'>
      <thead>
        <th ng-repeat='t in elastic.headers.names' ng-bind='t'></th>
      </thead>
      <tbody>
        <tr ng-repeat='p in elastic.data'>
          <td ng-repeat='t in elastic.headers.names' ng-bind='p._source[t]'></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>