<div ng-controller='ingest'>
	<div class='text-center top-bar'>
		<div class='btn-group'>
			<button class='btn btn-warning' ng-repeat='s in s3.fileTypes' ng-click='s3.ingest(s)' ng-disabled='s.$executing'>
				<i class='glyphicon glyphicon-refresh fa-spin' ng-if='s.$executing'></i>
				<span ng-bind='s.name'></span>
			</button>
		</div>
	</div>

	<div class='container-fluid'>
		<input class='form-control text-box-in-group' style='width:75%' type='text' ng-model='hdfs.path' ng-change='hdfs.on.pathChange()' title='HDFS directory'>
		<button class="btn" ngf-select ng-model="hdfs.uploadFiles" ngf-multiple="true" ngf-change='hdfs.on.fileChange()' ngf-allow-dir='false'>Select Files</button>
		<button class="btn btn-primary" ng-click='hdfs.upload()' ng-disabled='hdfs.uploadDisabled'>Upload</button>
	</div>

	<div class='col-md-6'>
		<h3 class='text-center'>Files in directory <i class='glyphicon glyphicon-arrow-up' ng-click='hdfs.getOutOfFolder()' ng-if='hdfs.currentFolder'></i> </h3>
		<ul class='list-group'>
			<li class='list-group-item' ng-repeat='f in hdfs.dirFiles'>
				<span ng-if='f.type == "DIRECTORY"' ng-click='hdfs.goIntoFolder(f)'>
					<i class='glyphicon glyphicon-folder-open list-group-left'></i>
					<strong ng-bind='f.pathSuffix'></strong>
					<span class='pull-right badge' ng-bind='"Files: "+f.childrenNum'></span>
				</span>
				<span ng-if='f.type == "FILE"'>
					<i class='glyphicon glyphicon-search' ng-click='hdfs.ingest(f,true)' ng-if='!f.$executing' title='Show Contents'></i>
					<i class='glyphicon glyphicon-refresh fa-spin' ng-if='f.$executing'></i>
					<i class='glyphicon glyphicon-remove' ng-click='hdfs.on.deleteFile(f)'></i>
					<strong ng-bind='f.pathSuffix'></strong>
					<span class='pull-right badge' ng-bind='f.humanSize'></span>
				</span>
			</li>
		</ul>
	</div>

	<div class='col-md-6'>
		<h3 class='text-center'>Files to Upload</h3>
		<ul class='list-group'>
			<li class='list-group-item' ng-repeat='f in hdfs.uploadFiles'>
				<button class='glyphicon glyphicon-remove btn btn-xs btn-danger list-group-left' ng-click='hdfs.on.removeItem($index)'></button>
				<strong>Filename: </strong><span ng-bind='f.name'></span>
				<span class='badge' ng-bind='f.humanSize'></span>
			</li>
		</ul>
	</div>
</div>

<script type='text/ng-template' id='ingestModal.html'>
	<div class="modal-header">
        <strong>
        	<input class='form-control text-box-in-group text-center' style='width:95%' ng-model='hdfs.preview.title' placeholder='Enter index name'>
        </strong>
        <i class="glyphicon glyphicon-remove pull-right" ng-click="$close()"></i>
    </div>
    <div class="modal-body">
    	<input class='form-control top-bar' ng-model='hdfs.preview.headers' placeholder='(Optional) Override headers' ng-if='hdfs.fileType == "csv"'>
    	<textarea class='well' ng-bind='hdfs.preview.text' rows='10' style='width:100%;resize:none' readonly></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="hdfs.ingest();$close()" ng-disabled='!hdfs.preview.title'>Ingest</button>
    </div>
</script>