<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elastableau</title>
    <link rel='stylesheet' href='assets/bootstrap.min.css'/>
    <link rel='stylesheet' href='assets/fa.css'/>
    <link rel='stylesheet' href='app.css'/>
    <script src='assets/angular.min.js'></script>
    <script src='assets/ui-bootstrap.min.js'></script>
    <script src='assets/ng-file-upload.min.js'></script>
    <script src='assets/tableau-wdc.js'></script>
    <script src='config.js'></script>
    <script src='app.js'></script>
  </head>
  <body ng-app='elastableau' ng-controller='home'>
    <div class='container-fluid top-bar text-center'>
        <div class='col-md-offset-4 col-md-4'>
            <div class='btn-group'>
                <button class='btn btn-success' ng-repeat='a in _CONFIG.modules' ng-click='_CONFIG.view = a.label'><label ng-bind='a.label'></label></button>
            </div>
        </div>
        <div class='col-md-4'>
            <div class='pull-right'>
                Logged in as: <button class='btn btn-xs btn-warning' ng-bind='_CONFIG.cn' ng-click='logout()' title='Logout'></button>
            </div>
        </div>
    </div>
    <div class='container-fluid'>
        <div ng-include='a.path' ng-repeat='a in _CONFIG.modules' ng-show='a.label == _CONFIG.view'></div>
    </div>
  </body>
</html>