.mid-width {
	width: 16%;
	display: inline;
}

.small-width {
	width: 11%;
	display: inline;
}

.primary-text-box {
	width: 75%;
	display: inline;
}

.list-group-left {
	margin-right: 5px;
}

span[ng-click],i[ng-click] {
	cursor: pointer;
}

.top-button-bar {
	margin-bottom: 10px;
}